<h2>Carts</h2>
<div id="carts"></div>
<script src="/JS/carts.js"></script>




{{!-- <div>
    <h1>Carrito {{getId}}</h1>
    
    {{#each products}}
    <div>
        <h1>{{this.product.title}} ({{this.product.description}})</h1>
        <p>Quantity: {{this.quantity}} --- _id: {{this.id}}</p>
    </div>
    {{/each}}

</div> --}}