<div class="header"></div>

<div class="container">
    <div id="profile"></div>
    <button class="btn btn-dark"><a class="text-decoration-none text-light" href="/api/auth/logout">Logout</a></button>
</div>

<script src="/JS/profile.js"></script>





{{!-- <div>
    <h1>Bienvenido "{{ user.name }}", has ingresado con el siguiente correo: </h1>
    <p>{{user.email}}</p>
</div>

<h1>Lista de productos seleccionados con handlebars</h1>
{{#each data}}
<div class="user-info">
    <span id="userInfo">
        <h2>{{this.title}}</h2>
        <p>description: {{this.description}}</p>
        <p>price: {{this.price}}</p>
        <p>thumbnail: {{this.thumbnail}}</p>
        <p>code: {{this.code}}</p>
        <p>stock: {{this.stock}}</p>
        <p>status: {{this.status}}</p>
        <p>id: {{this._id}}</p>
    </span>
</div>
{{/each}} --}}